/* IMPORT */   
@import url("typography.css");


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
body {
    padding-top: 80px;
    background: #f8f2e4;
}

@media (min-width:980px) {
    .nav-collapse {
        float: right;
    }
}


/* Link */
a {
    color: #0088CC;
    text-decoration: none;
    }
    a:hover, a:focus {
        color: #005580;
        text-decoration: none !important;
	    }
        /* Remove Firefox selection dot */
        a, a:focus, a:active, a:hover, object, embed { outline: none; }
        :-moz-any-link:focus { outline: none; }
        input::-moz-focus-inner { border: 0; }
        :focus { outline: 0; }
	

	
/* Animation */
.btn, .btn:hover,
.animation-fast,
.fading,
.blogroll li a,
.footer a, .navbar .nav > li > a
 { 
  -webkit-transition: all 200ms ease;
	 -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	   -o-transition: all 200ms ease;
	      transition: all 200ms ease; 
	
		 /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
	     -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
	     -webkit-transform: translateZ(0);
}	
	
	
/* Alignment */
.lighter {
    font-weight: lighter !important;
    }

.align-left {
    text-align: left !important;
    }

.align-right {
    text-align: right !important;
}

.align-center, .align-centre {
    text-align: center !important;
}	

.block {
    display: block !important;
}


	
/* Logo */
.site-title { margin: 0; }
.navbar .brand {
    color: #b4c5d7;
    text-shadow: none;
    font-size: 32px;font-size:2rem;
    }



/* Nav Menu
********************************/

/* Nav */
@media (min-width:980px) {
    .nav-collapse {
        float: right;
    }
}


/* Nav BG */
.navbar-inner {
    background-color: #375e86;
    background-image: none;
    border-color: #243140;
    }
    .navbar-fixed-top .navbar-inner, 
    .navbar-static-top .navbar-inner {
        border-bottom: 4px solid #2c3e50 !important;
        box-shadow: none;
        }

    
/* Nav Menu */
.nav-collapse, 
.nav-collapse.collapse {
    margin: 0 -5px;
    }

    .nav-collapse ul.nav {
        margin-right: 0;
        }
        .nav-collapse .nav > li > a, 
        .nav-collapse .dropdown-menu a {
            border-radius: 0 !important;
            }
        

/* Nav Link style */
.navbar .nav a { font-size:18px;font-size:1.13rem; }
.navbar .nav > li > a {
    color: #ECF0F1;
    text-shadow: none;
    padding: 18px 15px;
    font-weight: normal;
    }

    /* Nav Link hover */
    .navbar .nav > li > a:focus, 
    .navbar .nav > li > a:hover {
        color: #CCCCCC;
        }
    
    /* Nav Link active */
    .navbar .nav > .active > a, 
    .navbar .nav > .active > a:hover, 
    .navbar .nav > .active > a:focus {
        color: #FFFFFF;
        background-color: #2C3E50;
        box-shadow: none;
        }




/* Dropdown
********************************/

/* Dropdown top toggle caret*/
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

/* Dropdown top toggle caret hover */
.navbar .nav li.dropdown > a:hover .caret, 
.navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #CCCCCC;
    border-top-color: #CCCCCC;
}

/* Dropdown top toggle active */
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #708396;
    color: #FFFFFF;
    }
    /* Caret */
    .navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
    .navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
    .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
        border-bottom-color: #FFFFFF;
        border-top-color: #FFFFFF;
        }
            

/* Dropdown BG */
.dropdown-menu {
    background: #708396;
    padding: 0;
    margin: 0;
    border-radius: 0;  
    border: 0;
    box-shadow: none;
    }
    
    /* Dropdown Arrow */
    .navbar .nav > li > .dropdown-menu:before,
    .navbar .nav > li > .dropdown-menu:after { 
        display: none;
        }

    /* Dropdown subheading */        
    .dropdown-menu .nav-header {
        color: #abb4bd;
        text-shadow:none;    
        }
        
    /* Dropdown Divider */    
    .dropdown-menu .divider {
        background-color: #798999;
        border-bottom: 1px solid #5c6c7d;
        }    


/* Dropdown link style */
    .dropdown-menu > li > a {
        color: #ECF0F1;
        padding-top: 10px;
        padding-bottom: 10px; 
        font-weight: 600;   
        }
                          
        /* Dropdown link hover */
        .dropdown-menu > li > a:hover, 
        .dropdown-menu > li > a:focus, 
        .dropdown-submenu:hover > a, 
        .dropdown-submenu:focus > a {
            background-color: #536475;
            background-image: none;
            }




/* Mobile menu
********************************/

/* Button */
.navbar .btn-navbar {
    background-color: #2C3E50;
    background-image: none;
        
    -webkit-transform: translate3d(0, 0, 0); /* iOS boost & fix flicker */
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    }
    .navbar .btn-navbar:hover, 
    .navbar .btn-navbar:focus, 
    .navbar .btn-navbar:active, 
    .navbar .btn-navbar.active, 
    .navbar .btn-navbar.disabled, 
    .navbar .btn-navbar[disabled] {
        background-color: #2C3E50;
    }
        
    /* Icon */
    .navbar .btn-navbar .icon-bar {
        height: 4px;
        margin: 4px 0;
        width: 24px;
        }


/* Mobile menu inside */
@media (max-width:979px) {

.nav-collapse,
.navbar .nav > li > a {
    border: 0;    
}    
    /* Links */
    .nav-collapse .nav > li > a, 
    .nav-collapse .dropdown-menu a {
        color: #FFFFFF !important;
         }     
         .nav-collapse .nav > li > a:hover, 
         .nav-collapse .nav > li > a:focus, 
         .nav-collapse .dropdown-menu a:hover, 
         .nav-collapse .dropdown-menu a:focus {
            background-color: #336699 !important;
            }

        .nav-collapse .nav .nav-header {
            color: #eee !important;
            text-shadow: none;
            } 
}

@media (max-width:480px) {
    .navbar .brand {
        font-size: 26px;font-size:1.63rem;
        }
}




/* Buttons
********************************/
.btn {
    border-radius: 0 0 0 0;
    background-image: none;
    box-shadow: none;
    border-width: 0;
}
.btn-primary {
    background-color: #375E86;
    opacity: 1;
    }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #375E86;
    opacity: 0.6;
}



/* Content
********************************/
.main-content {
    padding-bottom: 40px;
}


hr {
    border-color: #aaa !important;
    border-bottom: none !important;
    border-style: dashed;
    border-width: 2px;
}


/* About Section */
#about { padding: 0 0 20px 0px; }

#about h1 {
    color: #B12A41;
    font-size: 4rem;
    margin-bottom: 22px;
}

#about p {
    color: #666;
    font-size: 1.13rem;
    line-height: 1.8;
    padding: 6px 0;
}

#about .btn {
    margin: 10px 0;
}



/* Project section */

#project {
    padding: 10px 0 50px;
}


/* Link section */

#links { padding: 20px 0 20px; }
#links small { padding: 0px 0 30px; }

#links .link-box {
    margin-bottom: 26px;
    }

    #links h1,
    #links h3,
    #links h4 {
        font-weight: lighter;
    }
    
    #links h4 {
        margin-top: 20px;
        margin-left: 60px;
       }    
    
    #links p {
        font-size: 14px;font-size: 0.88em;
        line-height: 1.4em;
        margin-left: 60px;
        }
    
        #links img {
            float: left;
            margin: 0;
            border-radius: 25px;
            width: 50px;
            height: 50px;
            box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
            opacity: 1;
            }
    
            #links .link-box:hover img, #links .link-box:hover h4 a {
                
                }
    
    
/* Flip animation */

/* container keeps perspective */
#links .list-box {
	perspective: 1000;
}

.link-img:after {
        background: #333333;
        color: white;
        content: "\f06e";
        font-family: 'FontAwesome';
        position: absolute;
        display:  block;
        font-size: 30px;
        width: 50px;
        height: 38px;
        padding: 12px 0 0;
        text-align: center;
        top:0;
        opacity:0;
        border-radius: 25px;
        
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
        
        -webkit-transition: all 80ms ease 100ms;
    	   -moz-transition: all 80ms ease 100ms;
    	    -ms-transition: all 80ms ease 100ms;
    	     -o-transition: all 80ms ease 100ms;
    	        transition: all 80ms ease 100ms;
                }

/* flip  */
.link-box:hover .link-img, .link-box.hover .link-img { 
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg); 
        }

.link-box:hover .link-img:after, .link-box.hover .link-img:after { opacity: 1; font-size: 24px; }

/* flip speed */
.link-img {      
  -webkit-transition: all 600ms ease;
	 -moz-transition: all 600ms ease;
	  -ms-transition: all 600ms ease;
	   -o-transition: all 600ms ease;
	      transition: all 600ms ease;     
	    transform-style: preserve-3d;
	    position: relative;
    }
    /* must be placed at the end */
    .link-img {
        z-index: 2;
        position: absolute;
        }





/* Footer
********************************/
footer {
    background:;
    color: #999999;
    }
    footer .container {
        border-top: 2px dashed #AAAAAA;
        padding: 30px 0 50px;
        }
	    footer a:hover { opacity: 0.6; }


/* Footer menu */
.footer_menu {
    float: left;
    width: 70%;
    }
    .footer_menu_box { 
	    margin: 0; 
	    }
        .footer_menu_box li { 
	        list-style: none; 
	        display: inline-block; 
	        }
            .footer_menu_box li a { 
	            color: #666;
	            text-transform: uppercase; 
	            margin-right: 10px; 
	            }


/* Copyright */
.copyright {
	float: left;
	margin: 14px 0;
    }

/* Production */
.maker {
    border-left: 1px solid #ccc;
    float: left;
    padding-left: 6px;
    width: 200px;
    margin: 14px 0 0 6px;
    }

/* Scroll to Top Button */
.back_top { 
	width: 200px; 
	float:right; 
	text-align: right; 
	margin: 14px 0;
	}
    .back_top a {
	    color: #999999;
    }

/* SNS Links */
.sns_icons { 
	width: 30%; 
	float: left; 
	}
    .sns_icons_box { float: right; }
    .sns_icons_box li {
         display: inline-block;
         line-height: 20px;
         list-style: none outside none;
         padding: 0 4px;
        }
        .sns_icons_box li a {
            color: #666;
            font-size: 22px; font-size: 1.38rem;
            }


.sns_icons .snslink01:hover { color: #355192; }
.sns_icons .snslink02:hover { color: #3BBDE8; }
.sns_icons .snslink03:hover { color: #4393BB; }
.sns_icons .snslink04:hover { color: #FFAE5B; }





/* Modules
********************************/

/* Pop over */
.popover {
    border-radius: 0px;
    padding: 0;
    }
    .popover-title {
        background-color: #97ba61;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 0 0 0 0;
        color: #FFFFFF;
        font-size: 14px;
        }


/* Tooltip */
.tooltip {
  font-size: 0.94rem;
    }
    .tooltip.top {
      margin-top: -12px;
      padding: 5px 0;
    }
    .tooltip.left {
      margin-left: -12px;
      padding: 0 5px;
    }

.tooltip-inner { /* space inside tooltip */
  max-width: 200px;
  padding: 10px 14px;
  -webkit-border-radius:0px;
  -moz-border-radius: 	0px;
  border-radius: 	0px;
}