/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,800);
@import url(http://fonts.googleapis.com/css?family=Arvo:400);
*/

/* Font Set */
body { 
    font-family: "proxima-nova", "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    /* -webkit-font-smoothing: antialiased; better for dark background */
    }
    h1, h2, h3, h4, h5, h6, .btn, .navbar, .brand { font-family:; }
    .navbar, .brand, .btn { font-family: "museo-slab"; font-weight: 500; }

.dropcap {
    color: #000000;
    float: left;
    font-size: 2.88rem;
    font-weight: bold;
    padding-left: 0;
    padding-right: 8px;
    padding-top: 0;
    line-height: 1;
    }

small { color: #888; }
