/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,800);
@import url(http://fonts.googleapis.com/css?family=Arvo:400);
*/

/* Font Set */
body { 
    font-family: "proxima-nova", "Open Sans", "Helvetica Neue", "Helvetica", "Apple SD Gothic Neo", NanumGothic, Applegothic, "Malgun Gothic", Dotum, Arial,sans-serif; 
    /* -webkit-font-smoothing: antialiased; better for dark background */
    
    font-size: 16px;font-size: 1em;
    line-height: 1.6em;
    font-weight: 300;
    }
    h1, h2, h3, h4, h5, h6, .btn, .navbar, .brand { font-family:; }
    .navbar, .brand, .btn { font-family: "museo-slab","Helvetica Neue", "Helvetica", "Apple SD Gothic Neo", NanumGothic, Applegothic, "Malgun Gothic",Dotum, Arial,sans-serif; font-weight: 500; }

p {
    color: #444;
    line-height: 1.6em;
}

small { color: #888; }

.dropcap {
    color: #000000;
    float: left;
    font-size: 2.88rem;
    font-weight: bold;
    padding-left: 0;
    padding-right: 8px;
    padding-top: 0;
    line-height: 1;
    }











